# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# PyCharm
.idea/

# VS Code (if used)
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Migrations (optional if you want clean repo resets)
# **/migrations/*.py
# !**/migrations/__init__.py